@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "variables.scss";
:root{
    font-family: "Inter", sans-serif;
    color: $primary-color;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    transition: ease-in-out;
}
a{
    text-decoration: none;
    color: $primary-color;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}