@import "variables.scss";

.tips__card{
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #fff;
    width: 40%;
    transition: 1s;

    &:hover{
        transform: scale(1.2);
    }
}

.tips__card__icon{
    width: 32px;
}

.tips__card__text{
    color: $secondary-dark;
}

@media(max-width: 768px){
    .tips__card:hover{
        transform: scale(1);
    }
}